<!-- <ul>
    <li *ngFor="let pais of paises">
        {{pais.name.common}}
    </li>
</ul> -->

<!-- <div class="row">
    <div *ngFor="let cancion of nuevasCanciones"  class="col-4">
        <div class="card m-2">
          <img class="card-img-top" [src]="cancion.images | noimage" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{cancion.name}}</h5>
            <p class="card-text">
                <span *ngFor="let artist of cancion.artists" class="badge bg-dark">{{artist.name}}</span>
            </p>
            
          </div>
        </div>
    </div>
</div> -->

<app-loading *ngIf="loading"></app-loading>

<div *ngIf="error" class="alert alert-danger animated fadeIne">
    <h3>Error</h3>
    <p>{{errorMessage}}</p>
</div>

<app-tarjetas [items]="nuevasCanciones"></app-tarjetas>

